<h1>SignUp</h1>
<%= form_tag '/users', method: :post do %>

  username: <input type="text" name="username">
  password: <input type="password" name="password">
  confirm password: <input type="password" name="password_confirmation">
  <input type="submit" name="Submit">
<% end %>