<% flash.each do |key, value| %>
  <% if key ==  'warning' %>
    <% value.each do |error| %>
      <div class="alert alert-danger" role="alert">RED TEXT - <%= error %></div>
    <% end %>
  <% elsif key == 'success' %>
    <div class="alert alert-success">GREEN TEXT - <%= value %></div>
  <% end %>
<% end %>
    
<%= @jwt %>